<!DOCTYPE html>
{% extends "fapp/base.html" %}

{% block body_block %}
    <div class='container'>
        <h1>Register Here</h1>
        {% if registered %}
            <h1>Thank You For Registering</h1>
        {% else %}
            <div class="jumbotron">
                
                <h1>Fill The Form</h1><br>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ userForm.as_p}}
                    {{ profileForm.as_p}}
                    <input type="submit" value="Register">
                </form>
            </div>
        {% endif %}    
    
    </div>
{% endblock body_block %}
    