/* body{
     background-color: rgb(52, 22, 105);
     color: rgb(231, 224, 220);
}
h1{
    color: tomato;
    background-color: rgb(49, 30, 83);
    margin: 0%;
}
table{
    border: 2px solid slateblue;
    background-color: rgb(81, 6, 172);
    size: 100%;
}
th, tr{
    margin: 20px;
    
}
 */
